.App {
  text-align: center;
  overflow: hidden; /* Prevents unwanted scrolling */
  justify-content: space-around;
}

html, body {
  height: 100%; /* Ensure the body and html are full height */
  margin: 0%;
  scroll-behavior: smooth; /* Smooth scrolling */
  padding: 10px;
}
